/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  background-color: #1c1c1c;
  padding: 34px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 320px;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Input group */
.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 14px 14px 14px 10px;
  border: none;
  border-radius: 6px 0 0 6px;
  outline: none;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 1rem;
  margin-right: 5px;
}

.input-group input::placeholder {
  color: #aaa;
}

.input-group button {
  background-color: #7d3cff;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.input-group button:hover {
  background-color: #9a5eff;
}

/* Weather result */
.weather-result h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.weather-result p {
  font-size: 1rem;
  margin: 4px 0;
  color: #ddd;
}
.hidden{
    display: none;
}
#error-message{
    color: red;
}